* {
	margin: 0px;
	padding: 0px;
	color: var(--color7);
	font-weight: bold;
}

body {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-areas: " background1 gameArea background2";
}
.backGround {
	background-color: var(--color0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#background1 {
	grid-area: background1;
}

#background2 {
	grid-area: background2;
	background-color: var(--color0);
}

#gameArea {
	grid-area: gameArea;
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color1);
	padding: 2rem;

	border: ridge 1rem var(--color4);
}

#gameBoard {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	height: 70vmin;
	width: 70vmin;
}

.cell {
	min-width: 0;
	min-height: 0;
	background-color: var(--color2);
	border: solid var(--color8) 0.1rem;
	color: var(--color8);
	font-size: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:hover {
	background-color: var(--color7);
}

.scrimmage-top {
	border-top: solid var(--color8) 0.2rem;
	margin-top: 0.1rem;
}

.scrimmage-bottom {
	border-bottom: solid var(--color8) 0.2rem;
	margin-bottom: 0.1rem;
}

.hasShip {
	background-color: var(--color4);
}

/* .hasShip[data-team="player"] {
	background-color: var(--color3);
} */
.hit {
	background-color: var(--color6);
}

.miss {
	background-color: var(--color1);
}

button {
	background-color: var(--color4);
	padding: 0.5rem 1rem;
	border: outset 0.25rem var(--color7);
	color: var(--color8);
	min-width: 8rem;
	min-height: 4rem;
	margin: 1rem;
}

button:hover {
	border: inset 0.25rem var(--color8);
}

#gameAreaDisplay {
	color: var(--color8);
	font-size: 2rem;
	text-align: center;
	padding: 0;
	margin: auto;
}
